In [1]:
#Print the following pattern
"""
*
**
***
****
*****"""

for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [4]:
#Print the following pattern
"""
*****
****
***
**
*"""
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [6]:
# Print 2-6 tables
n = int(input("Enter the number of tables you want to print: "))
for i in range(0,n):
    a = int(input("Enter the number: "))
    for j in range(1,11):
        print(a,"x",j,"=",a*j)
    print()
    print()

Enter the number of tables you want to print: 5
Enter the number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


Enter the number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


Enter the number: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


Enter the number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [13]:
#Print the following pattern
"""
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5"""

for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
#Print the following pattern
"""
A
B B
C C C
D D D D
E E E E E"""
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [7]:
a = int(input("Enter a number"))
l=[]
while (a>0):
    d=a%10
    l.append(d)
    a//=10
print(l)
for i in range(0,len(l)):
    if l[i]==l[len(l)-1-i]:
        continue
    else:
        print("Not a palindrome")
        break

Enter a number989
[9, 8, 9]

In [3]:
s = input("Enter a string: ")


for i in range(0,len(s)):
    if (s[i]==s[len(s)-i-1]):
        continue
        
    else:
        print("Not a palindrome")
        break

Enter a string: madam

In [40]:
"""
    *
   **
  ***
 ****
*****
"""
i=5
for j in range(i):
    print(" "*(i-(j+1)),"*"*(j+1))
    
print()

     *
    **
   ***
  ****
 *****

In [32]:
"""
    *
   ***
  *****
 *******
*********
"""
i=5
for j in range(i):
    print(" "*(i-(j+1)),"*"*(j+1),end="")
    print("*"*j)
        
print()

     *
    ***
   *****
  *******
 *********

In [11]:
def sum(a,b):
    return a+b
x=sum(6,7)
print(x)

13

In [16]:
def diff(a,b):
    return a-b
x=diff(6,7)
print(x)

-1

In [25]:
def oddeve(a):
    if a%2==0:
        return "Even"
    else:
        return "Odd"
    
print(oddeve(10))

Even

In [30]:
#Docstrings

'''We can access docstrings in a function using the __doc__ attribute'''

def square(n):
    """Takes in a number n and returns its square"""
    return n**2
print(square.__doc__)

Takes in a number n and returns its square

In [69]:
#Positional arguments
def intro(name,age):
    print("my name is",name)
    print("I am",age,"years old")
intro("Nishika",18)
print()

#Keyword arguments
def student(first_name,last_name):
    print(first_name,last_name)

student(first_name="Nishika",last_name="Chauhan")
student(last_name="Chauhan",first_name="Nishika")
print()

#Default arguments
def student(first_name,last_name,age,grade=5,school="ABC school"):
    print("Student details:",first_name,last_name,age,grade,school)

student("Nishika","Chauhan",18)
student("Nishika","Chauhan",18,6,"XYZ school")
print()

#Variable length argument
def avr(*args):
    sum=0
    for i in args:
        sum+=i
    avg = sum/len(args)
    print("Average:",avg)

avr(45,7,87,45)
print()

#Variable length keyword argument
def great(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

        
great(name="Alice",age=25,city="Noida")
great(name="Alice",age=25,city="Noida",near="abc")

my name is Nishika
I am 18 years old

Nishika Chauhan
Nishika Chauhan

Student details: Nishika Chauhan 18 5 ABC school
Student details: Nishika Chauhan 18 6 XYZ school

Average: 46.0

name:Alice
age:25
city:Noida
name:Alice
age:25
city:Noida
near:abc

In [ ]:
#max(),min(),Sum() in list